body {
    font-family: 'Nexa light';
    text-align: center;
    align-items: center;
    background-color: #00D66C;
    color: white;
    margin-top: -3em;
}

h1 {
    size: 1.8em;
    color: white;
    margin-top: 3em;
    margin-bottom: 3em;
}

h2 {
    font-family: 'Nexa Bold';
    margin-top: -2em;
    margin-bottom: 2em;
}

fieldset {
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1em;
    transition: ;
    padding: 1em;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 0.1em;
    border-radius: 1em;
    background-color: lightgreen;
}

fieldset:invalid {
    border-style: solid;
    border-width: 0.1em;
    border-color: white;
    color: white;
    background-color: #00D66C;
}

legend {
    font-family: 'Nexa bold';
    color: #2800A0;
    margin-bottom: 2em;
}

input {
    width: 20em;
    height: 1.9em;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Nexa light';
    font-size: 0.8em;
    border-style: solid;
    border-color: white;
    border-width: .1em;
}

input:invalid {
    background-color: lightgreen;
}

input:focus {
    box-shadow: 0.1em 0.2em 0.5em green;
}

button {
    background-color: #2800A0;
    width: 10em;
    height: 4em;
    margin: 0 auto;
    font-family: 'Nexa bold';
    color: white;
    border-style: none;
    border-radius: 2em;
    box-shadow: 0.1em 0.2em 0.5em black;
    transition: all 0.3s;
}

button:focus {
  transform: scale(1.3, 1.3);
}

a {
    font-size: 0.7em;
    color: white;
}
