body {
    background-image: url(../images/achtergrondfreudes.png);
    background-size: 80em;
    background-position: -24em 0em;
    background-repeat: no-repeat;
}

img.terug {
    width: 1.5em;
    margin-top: 2em;
    margin-left: 2em;
}

p.terug {
    text-decoration: none;
    font-family: 'Nexa bold';
    color: white;
    letter-spacing: 0.5em;
    font-size: 0.75em;
    margin-top: -2.6em;
    margin-left: 6.5em;
    text-decoration: inherit;
}

section {
    width: 14em;
    height: 37em;
    font-family: 'Nexa light';
    color: white;
    overflow: scroll;
    margin-top: -1em;
    margin-left: 9.5em;
    line-height: 1.6em;
    letter-spacing: 0.1em;
    font-size: 0.8em;
}

h1 {
    font-family: 'Bungee Hairline', cursive;
    font-size: 3em;
    color: white;
    margin-top: 1.4em;
    margin-left: 0.3em;
}

@media (min-width: 48em) {
    body {
        background-size: 85em;
        background-position: -10em 0px;
    }
    section {
        width: 18em;
        margin-left: 30em;
    }
    h1 {
        margin-left: 6.8em;
    }
}

@media (min-width: 64em) {
    body {
        background-size: 140em;
        background-position: -50em
    }
    section {
        width: 30em;
        margin-left: 60%;
    }
    h1 {
        margin-left: 60%;
    }
}
